html {
    font-family: 'Noto Sans', sans-serif;;
}
h1 {
    font-family: 'Glass Antiqua', cursive;
    text-align: center;
    }
h2 {
    font-family: 'Glass Antiqua', cursive;
    }
h3 {
    font-family: 'Glass Antiqua', cursive;
}
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
#footer {
     font-size: smaller;
     text-align: right;
    }
