html {
    font-family: 'Noto Sans', sans-serif;;
}
h1 {
    font-family: 'Glass Antiqua', cursive;
    text-align: center;
    }
h2 {
    font-family: 'Glass Antiqua', cursive;
    }
h3 {
    font-family: 'Glass Antiqua', cursive;
}
#footer {
     font-size: smaller;
     text-align: right;
    }

    